extends ../includes/layout
block main-content
    form(name="confirm", method="post")
        .jumbotron
            h1 Рестартиране на приложението
            p Това ще изтрие цялата информация в приложението (потребители, участници, снимки и гласове) с изключение на администраторските акаунти
            p
                input.btn.btn-danger.btn-lg(type="submit", value='Изтрий')