extends ../includes/layout
block main-content
      .jumbotron
         h1 Рестартиране на конкурса
         p Това ще изтрие цялата информация за текущия конкурс (участниците, но не и потребителите)
         p
            a(class='btn btn-primary btn-lg') Изрий