extends ../includes/layout
block main-content
    form(name="confirm" method="post")
        .jumbotron
            h1 Рестартиране на конкурса
            p Това ще изтрие цялата информация за текущия конкурс (участници, снимки и гласове, но не и потребителите)
            p
                input(class='btn btn-danger btn-lg' type="submit" value='Изтрий')