extends ../includes/layout

block main-content
    .well
        form.form-horizontal(name="signUpForm", action="?_csrf=#{csrf}" method="post", enctype="multipart/form-data", id="sign-up-form")
            input(type="hidden", name="_csrf", value="#{csrf}")
            fieldset
                legend Регистриране на Участник
                .form-group
                    label.col-md-2.control-label(for="full-name") Имена
                    .col-md-10
                        input.form-control(type="text", id="full-name",
                        placeholder="Иван Георгиев Димитров", name="fullName", required)
                .form-group
                    label.col-md-2.control-label(for="age") Възраст
                    .col-md-10
                        input.form-control(type="text", id="age", placeholder="6 месеца", name="age", required)
                .form-group
                    label.col-md-2.control-label(for="comment") Коментар
                    .col-md-10
                        input.form-control(type="text", id="comment", placeholder="optional comment", name="comment")
                .form-group
                    label.col-md-2.control-label(for="file-0") Снимка
                    .col-md-10
                        input.form-control.upload-picture(id="file-0", type="file",
                        name="file_0", required, pattern='/\.(gif|jpg|jpeg|png)$/i')
                .form-group
                    label.col-md-2.control-label(for="tos") Съгласен съм с &nbsp;
                        a(href="/tos") общите условия
                    .col-md-1
                        input.form-control.upload-picture(id="tos", type="checkbox", name="tos_accepted", required)
                #button-panel
                    .pull-right
                        input.btn.btn-primary(type="submit", value="Регистрация")
                        a.btn.btn-primary(href="/") Отказ