extends ../includes/layout
block main-content
    H4 Минали конкурси:
    hr
    .row#contest
    ul.nav.nav-pills.nav-stacked
        each contest in data
            li
                a(href=path + "/" + contest._id) #{contest.name}
        else
            h5.text-center Няма изминали конкурси!
