block main-content
    .text-center
        if approved
            a(class="btn btn-danger" href=path + "/editApproval") Disapprove
        else
            a(class="btn btn-success" href=path + "/editApproval") Approve
    hr
    include ../../contestants/contestant
