block main-content
    .text-center
        if approved
            a(class="btn btn-danger" href=path + "/disapprove") Disapprove
        else
            a(class="btn btn-success" href=path + "/approve") Approve
    hr
    include ../../contestants/contestant
