block main-content
    .text-center
        .well.well-sm
            span Регистриран от: &nbsp;
            a(href="../../admin/users/#{registrant._id}") #{registrant.username}
        if approved
            a.btn.btn-danger(href=path + "/editApproval") Отхвърляне
        else
            a.btn.btn-success(href=path + "/editApproval") Oдобряване
    hr
    include ../../contestants/contestant
