block main-content
    .text-center
        if approved
            a.btn.btn-danger(href=path + "/editApproval") Отхвърляне
        else
            a.btn.btn-success(href=path + "/editApproval") Oдобряване
    hr
    include ../../contestants/contestant
