block main-content
    .text-center
        if approved
            a(class="btn btn-danger" href=path + "/editApproval") Отхвърляне
        else
            a(class="btn btn-success" href=path + "/editApproval") Oдобряване
    hr
    include ../../contestants/contestant
