ul.nav.navbar-nav.navbar-right
   if currentUser
      li.dropdown
         a.dropdown-toggle(href="", data-toggle="dropdown")
            | Администрация
            span.caret
         ul.dropdown-menu
            li
               a(href="/profile") Моят профил
            li
               a(href="/contestants/register") Регистриране на участник
            li
               a(href="/logout") Изход