ul.nav.navbar-nav.navbar-left
    if admin
        li.dropdown
            a.dropdown-toggle(href="", data-toggle="dropdown")
                | Администрация
                span.caret
            ul.dropdown-menu
                li
                    a(href="/admin/contestants") Участници
                li
                    a(href="/admin/contestants/list") Участници - списък
                li
                    a(href="/admin/users/all") Потребители
                li
                    a(href="/passed-contests/register") Регистриране на изминал конкурс
                li
                    a(href="/passed-contests/edit") Редактиране на изминал конкурс
                li
                    a(href="/admin/reset-contest") Рестартиране на конкурса
                li
                    a(href="/admin/reset-application") Рестартиране на приложението
                li
                    a(href="/admin/edit-tos") Редактиране на общите условия