ul.nav.navbar-nav.navbar-left
    if admin
        li.dropdown
            a.dropdown-toggle(href="", data-toggle="dropdown")
                | Администрация
                span.caret
            ul.dropdown-menu
                li
                    a(href="/admin/contestants") Участници