ul.nav.navbar-nav.navbar-left
    li.dropdown
        a.dropdown-toggle(href="", data-toggle="dropdown")
            | Фото конкурс
            span.caret
        ul.dropdown-menu
            li
                a(href="/passed-contests") Минали конкурси
            li
                a(href="/tos") Общи условия