.navbar-collapse.collapse
    include ../includes/main-menu
    ul.nav.navbar-nav
        li
            a(href="/contestants/register", class="btn btn-warning") Участвай!
        li
            a(href="/contestants") Участници
    include ../includes/profile-menu
    include ../includes/admin-menu
