.navbar-collapse.collapse
    ul.nav.navbar-nav
        li
            a(href="/contestants") Участници
        li
            a(href="/passed-contests") Минали конкурси
        li
            a(href="/tos") Общи условия
    include ../includes/profile-menu
    include ../includes/admin-menu