.navbar-collapse.collapse
    ul.nav.navbar-nav
        li
            a(href="/contestants") Участници
        li
            a(href="/passed-contests/all") Минали конкурси
    include ../includes/profile-menu
    include ../includes/admin-menu