ul.pagination.pagination
   - if (pager.currentPage > 1) {
   li
      a(href='/contestants/all?page=' + (pager.currentPage - 1) ) «
   - } else {
   li.disabled
      a(href='/contestants/all?page=' + pager.currentPage ) «
   - }
   - for(var i = 1; i <= pager.totalPages; i++) {
   - var url = '/contestants/all?page=' + i
   - if (pager.currentPage === i){
   li.active
      a(href="#{url}") #{i}
   - } else {
   li
      a(href="#{url}") #{i}
   - }
   - }
   - if (pager.currentPage < pager.totalPages) {
   li
      a(href='/contestants/all?page=' + (pager.currentPage + 1) ) »
   - } else {
   li.disabled
      a(href='/contestants/all?page=' + pager.currentPage ) »
   - }