ul.nav.navbar-nav.navbar-right
    if !currentUser
        li
            a(href="/register") Регистрация
        li
            a(href="/login") Вход
        li
            a(href="/auth/facebook", target="_top")
                img(src="/img/facebook.png")
    else
        li.dropdown
            a.dropdown-toggle(href="", data-toggle="dropdown")
                | #{currentUser.username}
                span.caret
            ul.dropdown-menu
                li
                    a(href="/profile") Моят профил
                li
                    a(href="/logout") Изход