script(type="text/javascript", src="https://code.jquery.com/jquery-2.1.1.min.js")
script(type="text/javascript", src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js")
script(type="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
script(type="text/javascript", src="/scripts/build.min.js")
block page-scripts