script(type="text/javascript" src="/lib/jquery/dist/jquery.min.js")
script(type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js")
script(type="text/javascript" src="/scripts/fb-login-url-fix.js")
block page-scripts