extends ../../includes/layout
block main-content
    h4 Потребител № #{_id}
    H4 Потребителско име: #{username}
    H4 Име: #{firstName + ' ' + lastName}
    H4 Потребителско име: #{email}
    hr
    include ../../contestants/all
